* {
  font-family: -apple-system, 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  color: #444;
}

section {
  width: 100%;
  padding: 100px 0;
}

h1 {
  line-height: 1.5;
  font-size: 200%;
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 200%;
  font-weight: 600;
}

h3 {
  font-weight: 300;
}

.description {
  width: 60%;
  min-width: 700px;
  margin: auto;
}

.gist {
  width: 50%;
  margin: auto;
}

.d3 {
  height: 1000px;
}

.d3 h1,
.d3 h2 {
  position: absolute;
  left: 10px;
  font-size: 1.3em;
  font-weight: 100;
}

/* Remove .incident fill CSS */

.hover {
  fill: yellow;
}

.python-plotly {
  padding: 0;
}

.plotly-map {
}
