* {
  font-family: 'Lato', -apple-system, 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 2;
  color: #333;
}

section {
  width: 100%;
  padding: 50px 0;
}

h1 {
  line-height: 1.5;
  font-size: 250%;
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 200%;
  font-weight: 700;
}

p {
  font-weight: 400;
}

code {
  font-family: 'Courier';
  font-size: 80%;
}

ol {
  width: 95%;
  margin: 20px auto;
}

.header {
  padding: 150px 0 100px 0;
  background-color: #efd;
}

.description {
  width: 55%;
  min-width: 640px;
  margin: auto;
}

.gist {
  width: 55%;
  min-width: 640px;
  margin: 50px auto;
}

.d3 {
  margin-top: 50px;
  margin-bottom: 80px;
  min-width: 1000px;
  min-height: 507px;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}

.d3-info {
  position: absolute;
  left: 8%;
  padding-top: 200px;
  font-weight: 300;
}

.d3 svg {
  position: absolute;
  margin: auto;
  right: 50px;
}

.hover {
  fill: yellow;
}

.thanks {
  padding-bottom: 250px;
}